<app-art-sport-choice></app-art-sport-choice>
<p class="text-align-center">
  Sur mon temps libre, outre travailler sur mes projets personnels, je pratique beaucoup de sports longue durée (course de fond, cyclysme etc.). J'ai réalisé plusieurs voyages d'itinérance à vélo ou à pied dont j'aime beaucoup parler :). De plus, je réalise régulièrement quelques dessins à crayons ou numériques. J'aime aussi beaucoup lire du réalisme et mon livre favori est Le Comte de Monte-Cristo ! <br> Cliquez sur les boutons 'Sport' ou 'Art' pour en apprendre plus !
</p>
