footer{
  background-color: var(--color1);
  padding: 10px 30px;
  border: solid 4px var(--black1);
  height: 100px;
}

#copyright-contact-about{
  justify-content:space-between;
  align-items: end;
}

#footer-app-buttons{

}
#footer-text{
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
  #footer-text{
    font-size: 0.5rem;
  }
  #right-copyright{
    font-size: 0.8rem;
  }
}
