<!--<p>header works!</p>-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!--<span class="material-symbols-outlined">home</span>-->
<header class="items-align" id="all-buttons-header">
  <div class="items-align">
    <!--  "button" home-->
    <div class="items-align">
      <span id="link-same-page-home" routerLink="./" class="material-symbols-outlined">home</span>
<!--      <div class="div-link-same-page">-->
        <a class="link-same-page" routerLink="./curriculum">Cusus</a>
<!--      </div>-->
<!--      <div class="div-link-same-page">-->
        <a class="link-same-page" id="link-same-page-projects" routerLink="./projects">Projets informatiques</a>
<!--      </div>-->
<!--      <div class="div-link-same-page">-->
        <a class="link-same-page" routerLink="./hobbies">Hobbies</a>
        <a class="link-same-page" routerLink="./contact">Contact</a>
<!--      </div>-->
      <!--  // others buttons to display outside the homepage-->
    </div>




  </div>
<!--  languages & darkmode-->
  <div class="items-align">
<!--    languages-->
    <div id="div-languages">
      <div id="div-languages-french"></div>
      <div id="div-languages-english"></div>
    </div>
<!--    darkmod-->
    <div id="darkmod">
      darkmod
    </div>
  </div>
</header>
