<div id="div-pageabout">
  <div id="head" class="text-align-center">
    <span class="bar" id="bar1"></span>
    <span class="bar" id="bar2"></span>
    <h2>{{textTitleAbout[param.locale]}}</h2>
    <span class="bar" id="bar3"></span>
    <span class="bar" id="bar4"></span>
  </div>
  <p id="description">{{textDescription[param.locale]}}</p>
  <h3>{{textTitleToolsList[param.locale]}}</h3>
  <div class="list-outil">
    <ul>{{toolList[param.locale][0]}}</ul>
    <ul>{{toolList[param.locale][1]}}</ul>
    <ul>{{toolList[param.locale][2]}}<a class="fa-brands fa-github fa-1x" id="link-github"  href="https://github.com/flandrecorentin" target="_blank">{{textGithub[param.locale]}}</a></ul>
    <ul>{{toolList[param.locale][3]}}</ul>
    <ul>{{toolList[param.locale][4]}}</ul>
    <ul>{{toolList[param.locale][5]}}</ul>
    <ul>{{toolList[param.locale][6]}}</ul>
    <ul>{{toolList[param.locale][7]}}</ul>
    <ul>{{toolList[param.locale][8]}}</ul>
  </div>
</div>
