*{
  text-decoration: none;
  color: var(--black1);
  //border: 2px red solid;
}
#div-onecontact{
  background-color: var(--black4);
  padding: 10px;
  border-radius: 10px;
}
#title-logo{
  background-color: var(--black4);
  border-radius: 10px;
}
.title{
  font-size: 1.5rem;
  width: 50%;
  text-align: right;
  margin-right: 10px;
}
.logo{
  padding: 10px;
  margin-left: 10px;
  text-align: left;
  width: 50%;
}
p{
  padding: 10px;
  font-size: 1rem;
}
#title-logo:hover{
  cursor: pointer;
  animation: sectionAnim ease-in-out 1s infinite;
  background: var(--color4);
}

@keyframes  sectionAnim{
  from{
    transform: scaleY(1.0) scaleX(1.0);
  }
  50%{
    transform: scaleY(1.05)scaleX(1.02);
  }
  to{
    transform: scaleY(1.0) scaleX(1.0);
  }
}
#title-logo:active{
  background-color: var(--black2);
  border: 3px  var(--black1) solid ;
}
