<div id="div-projects" class="text-align-center">
  <div id="head" class="text-align-center">
    <span class="bar" id="bar1"></span>
    <span class="bar" id="bar2"></span>
    <h2>{{textTitleITProjects[param.locale]}}</h2>
    <span class="bar" id="bar3"></span>
    <span class="bar" id="bar4"></span>
  </div>
  <div id="all-projects">
    <div *ngFor="let itProject of mapITProjects; index as i; first as isFirst">
      <app-one-ITproject [title]="itProject.title[param.locale]" [description]="itProject.description[param.locale]" [imageLink]="itProject.imagesPaths" [activeAllLinks]="itProject.activeAllLinks" [links]="itProject.links" [numberNum]="i" [styleDisplay]="itProject.styleDisplay"></app-one-ITproject>
    </div>
  </div>
</div>
