<div id="div-contact">
  <div id="head" class="text-align-center">
      <span class="bar" id="bar1"></span>
      <span class="bar" id="bar2"></span>
      <h2>{{textTitleContact[param.locale]}}</h2>
      <span class="bar" id="bar3"></span>
      <span class="bar" id="bar4"></span>
  </div>
  <div id="contacts">
    <div class="items-align">
      <app-onecontact [title]="githubInfos[param.locale][0]" [description]="githubInfos[param.locale][1]" [link]="githubInfos[param.locale][2]" [logo]="githubInfos[param.locale][3]"></app-onecontact>
      <app-onecontact [title]="mailInfos[param.locale][0]" [description]="mailInfos[param.locale][1]" [link]="mailInfos[param.locale][2]" [logo]="mailInfos[param.locale][3]"></app-onecontact>
    </div>
    <div class="items-align">
      <app-onecontact [title]="linkedinInfos[param.locale][0]" [description]="linkedinInfos[param.locale][1]" [link]="linkedinInfos[param.locale][2]" [logo]="linkedinInfos[param.locale][3]"></app-onecontact>
      <app-onecontact [title]="phoneInfos[param.locale][0]" [description]="phoneInfos[param.locale][1]" [link]="phoneInfos[param.locale][2]" [logo]="phoneInfos[param.locale][3]"></app-onecontact>
    </div>
  </div>
</div>
