<div id="div-curriculum" class="text-align-center">
  <div id="head" class="text-align-center">
    <span class="bar" id="bar1"></span>
    <span class="bar" id="bar2"></span>
    <h2>{{textTitleCurriculum[param.locale]}}</h2>
    <span class="bar" id="bar3"></span>
    <span class="bar" id="bar4"></span>
  </div>
  <div id="div-linkCV">
<!--      <a class="linkCV" href="./assets/CV-Flandre-Corentin.pdf" download="CV-Flandre-Corentin-fr.pdf">{{textDownloadCV[0][param.locale]}}</a>-->
    <a class="linkCV" href="./assets/CV-Flandre-Corentin-v2.pdf" download="CV-Flandre-Corentin-v2.pdf">{{textDownloadCV[0][param.locale]}}</a>
    <div class="custom-br"></div>
    <a class="linkCV" href="./assets/Resume-Flandre-Corentin-v2.pdf" download="Resume-Flandre-Corentin-v2.pdf">{{textDownloadCV[1][param.locale]}}</a>
  </div>

  <div id="curriculum-choice" class="items-align">
    <app-button (click)="onClick1()" [text]="textButton[param.locale][0]" [styleClass]="styleCurriculum1"></app-button>
    <app-button (click)="onClick2()" [text]="textButton[param.locale][1]" [styleClass]="styleCurriculum2"></app-button>
    <app-button (click)="onClick3()" [text]="textButton[param.locale][2]" [styleClass]="styleCurriculum3"></app-button>
    <app-button (click)="onClick4()" [text]="textButton[param.locale][3]" [styleClass]="styleCurriculum4"></app-button>
  </div>
  <div id="curriculum-response">
    <app-response-curriculum *ngIf="currentChoiceResponse==1" [title]="highschoolInfos[0][param.locale]" [description]="highschoolInfos[1][param.locale]" [linkSVG]="highschoolInfos[2][param.locale]" ></app-response-curriculum>
    <app-response-curriculum *ngIf="currentChoiceResponse==2" [title]="INSAInfos[0][param.locale]" [description]="INSAInfos[1][param.locale]" [linkSVG]="INSAInfos[2][param.locale]"></app-response-curriculum>
    <app-response-curriculum *ngIf="currentChoiceResponse==3" [title]="KTHInfos[0][param.locale]" [description]="KTHInfos[1][param.locale]" [linkSVG]="KTHInfos[2][param.locale]"></app-response-curriculum>
    <app-response-curriculum *ngIf="currentChoiceResponse==4" [title]="engineerInfos[0][param.locale]" [description]="engineerInfos[1][param.locale]" [linkSVG]="engineerInfos[2][param.locale]"></app-response-curriculum>
  </div>
</div>


