<div id="div-response-curriculum">
  <div class="items-align">
    <div id="h3-svg">
      <h3>{{title}}</h3>
      <iframe *ngIf="(linkSVG=='SVG1')" src="./assets/svg-highschool-v2.svg">
        <!--        image replace-->
      </iframe>
      <iframe *ngIf="(linkSVG=='SVG2')" src="./assets/svg-curriculum2.svg">
        <!--        image replace-->
      </iframe>
      <iframe *ngIf="(linkSVG=='SVG3')" src="./assets/svg-kth.svg">
        <!--        image replace-->
      </iframe>
      <iframe *ngIf="(linkSVG=='SVG4')" src="./assets/svg-engineer-v3.svg">
        <!--        image replace-->
      </iframe>
    </div>
    <p>{{description}}</p>
  </div>
</div>
<!--<iframe src="./assets/svg-curriculum2.svg"></iframe>-->
