.button{
  border: 2px red solid;
}
.styleDefault{
  /*border: 2px green solid;*/
}

.styleFooter{
  margin: 0px 10px;
  padding: 5px 10px;
  background-color: var(--black4);
  cursor: pointer;
  border: var(--black1) 1px solid;
  border-radius: 3px;
  box-shadow: 2px 2px var(--black4);
}
.styleFooter:hover{
  background-color: var(--black3);
  color: var(--white1);
  background-color: var(--color2);
  font-weight: bold;
  /*border: var(--color2) 2px solid;*/
}
.styleFooter:active{
  background-color: var(--black2);
}


.styleCurriculum{
  background: var(--color3);
  margin: 0px 10px;
  border: 5px var(--color2) solid;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}
.styleHobbies{
  background: var(--color3);
  margin: 0px 10px;
  border: 5px var(--color2) solid;
  padding: 5px 30px;
  border-radius: 15px;
  cursor: pointer;
}
@keyframes  sectionAnim{
  from{
    transform: scale(1.0);
  }
  50%{
    transform: scale(1.05);
  }
  to{
    transform: scale(1.0);
  }
}
.styleCurriculum:hover, .styleHobbies:hover{
  animation: sectionAnim ease-in-out 1s infinite;
  background: var(--color4);
  color: var(--white1);
}
.styleCurriculum:active, .styleHobbies:active{
  background: var(--color5);
}





.styleCurriculumActive{
  background: var(--color5);
  margin: 0px 10px;
  border: 5px var(--color2) solid;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}
.styleHobbiesActive{
  background: var(--color5);
  margin: 0px 10px;
  border: 5px var(--color2) solid;
  padding: 5px 30px;
  border-radius: 15px;
  cursor: pointer;
}
.styleCurriculumActive:hover, .styleHobbiesActive:hover{
  animation: sectionAnim ease-in-out 1s infinite;
  background: var(--color5);
  color: var(--white1);
}
.styleCurriculumActive:active, .styleHobbiesActive:active{
  background: var(--color3);
  border: 5px var(--color4) solid;
}


@media screen and (max-width: 800px) {
  .styleFooter{
    margin: 5px 10px;
    padding: 3px 3px;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 600px) {
  .styleCurriculum, .styleCurriculumActive{
    padding: 2px;
    margin: 0 5px;
    font-size: 0.8rem;
    max-width: 60px;
  }
}

@media screen and (max-width: 320px) {
  .styleCurriculum, .styleCurriculumActive{
    padding: 1px;
    margin: 2px;
    font-size: 0.6rem;
    max-width: 50px;
  }
}
