#part-section-route{
  text-align: center;
  border-top: var(--black1) 5px solid;
  box-shadow: 3px 4px 3px var(--black3);
  border-radius: 4px;
  padding: 10px 20px;
  max-width: 150px;
  background-color: var(--color3);
  position: absolute;
  margin-top: 150px;
  min-width: 100px;
  /*transform: translateZ(50%);*/
}
h3{
  font-size: 1.4rem;
}
.route-label{
  width: 5px;
  background: repeating-linear-gradient(
    0deg,
    var(--black1),
    var(--black1) 20px,
    var(--transparent) 20px,
    var(--transparent) 40px
  );
  height: 300px;
  /*border: yellow 2px solid;*/
  /*border: dashed 5px var(--black1);*/
  position: absolute;
}


.route-label-left{
  left: 15%;
  transform: translateX(-50%);
}

.route-label-right{
  right: 15%;
  transform: translateX(50%);
}

.route-label-div-right {
  right: 15%;
  transform: translateX(50%) translateY(-50%);
}

.route-label-div-left{
  left: 15%;
  transform: translateX(-50%)  translateY(-50%);
  cursor: pointer;
}
#part-section-route:hover{
  background-color: var(--color2);
  color: var(--white1);
  transition: 0.2s;
  border-top: var(--color4) 5px solid;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  h3{
    font-size: 0.9rem;
  }
  #part-section-route{
    padding: 10px 0px;
    max-width: 10px;
    /*margin-top: 150px;*/
    /*min-width: 100px;*/
    /*transform: translateZ(50%);*/
  }
}
