#presentation{
  height: 400px;
  background-color: #d7f0ef;
  overflow: hidden;
  border-bottom: 4px black solid;
}
svg{
  height: 400px;
  /*background-size: cover;*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}
h1{
  margin-left: 15%;
  margin-top: 40px;
  position: absolute;
  z-index: 1;
  text-decoration: underline;
}

/*with number 5*/
#svg-r1, #svg-r5{
  animation: circleAnimation 1.3s linear infinite;
  transition-delay: 0ms;
}
/*with number 7*/
#svg-r2, #svg-r7{
  animation: circleAnimation 0.9s linear infinite;
  transition-delay: 0ms;
}
/*with number 4*/
#svg-r3, #svg-r4{
  animation: circleAnimation 1.5s linear infinite;
  transition-delay: 0ms;
}
#svg-r6{
  animation: circleAnimation 2s linear infinite;
  transition-delay: 0ms;
}
#svg-r8{
  animation: circleAnimation 2.4s linear infinite;
  transition-delay: 0ms;
}
#svg-r9{
  animation: circleAnimation 0.6s linear infinite;
  transition-delay: 0ms;
}
#svg-r10{
  animation: circleAnimation 0.8s linear infinite;
  transition-delay: 0ms;
}
#svg-r11{
  animation: circleAnimation 2.2s linear infinite;
  transition-delay: 0ms;
}
#svg-r12{
  animation: circleAnimation 0.6s linear infinite;
  transition-delay: 0ms;
}
#svg-r13{
  animation: circleAnimation 1.1s linear infinite;
  transition-delay: 0ms;
}


@keyframes circleAnimation {
  from{
    clip-path: circle(90%);
  }
  10%{
    clip-path: circle(70%);
  }
  50%{
    clip-path: circle(20%);
  }
  90%{
    clip-path: circle(70%);
  }
  to{
    clip-path: circle(90%);
  }
}

.svg-rotate{
  animation: rotateAnimation linear 0.8s infinite;
  transition-delay: 0ms;
}
@keyframes rotateAnimation  {
  from{
    transform: rotateZ(0deg);
    transform-origin: right+90vh ;
  }
  to{
    transform: rotateZ(360deg);
    transform-origin: right+90vh ;
  }
}

